body {
    padding: 2%;
    background:#272829;
    /*font-family:"Raleway";*/
    font-family: "Roboto,RobotoDraft,Helvetica,Arial,sans-serif";
}
.form {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:250px;
    padding:10px;
}
.form .form-header {
    height:30px;
    display:flex;
    align-items:center;
    text-align:center;
}
.form .form-header > div {
    width:calc(100% / 3);
    color:#ddd;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
}
.form.signup .form-header div.show-signup {
    color:#f1575b;
}
.form.signin .form-header div.show-signin {
    color:#f1575b;
}
.form.reset .form-header div.show-reset {
    color:#f1575b;
}
.form .form-elements {
    margin-top:15px;
}
.form .form-elements .form-element {
    height:50px;
    opacity:1;
    overflow:hidden;
    transition:all 500ms ease-in-out;
}
.form .form-elements input {
    width:100%;
    padding:10px;
    font-size:16px;
    margin:5px 0px;
    border-radius:10px;
    box-sizing:border-box;
    border:1px solid #222;
    background:#f5f5f5;
}
.form .form-elements button {
    width:100%;
    padding:10px;
    font-size:16px;
    font-weight:600;
    margin-top:5px;
    border-radius:10px;
    background:#f1575b;
    color:#f5f5f5;
    cursor:pointer;
    border:none;
    outline:none;
}
.form .arrow {
    position:absolute;
    top:51px;
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #f5f5f5;
}
.form.signup .arrow {
    left:calc(calc(100% / 3) / 2);
}
.form.signin .arrow {
    left:calc(calc(100% / 3) + calc(calc(100% / 3) / 2.2)) ;
}
.form.reset .arrow {
    left:calc(calc(calc(100% / 3) * 2) + calc(calc(100% / 3) / 3)) ;
}

.form.signin .form-elements > div:nth-child(3) {
    height:0px;
    opacity:0;
}
.form.reset .form-elements > div:nth-child(2),
.form.reset .form-elements > div:nth-child(3) {
    height:0px;
    opacity:0;
}













/* ----------------------------------- Full Calendar Component CSS ----------------------------------- */

.calendarCp{
    box-shadow: 5px 5px 5px 5px #222222;
    background-color: #2c2c2c;
    border-radius: 30px;
    margin-right: 1%;
    padding: 25px;

    height: 750px;
}

.calendarTittle{
    color:#f1575b;
}

/* month year */
.fc-toolbar-title{
    color: #f5f5f5;
    font-weight: bolder;
    font-size: 30px !important;
}

/* 일요일 날짜: 빨간색 */
.fc-day a {
    font-weight: bolder;
    color:#C3C3C3;
}

/* 주말 날짜: 빨간색 */
.fc-day-sun a, .fc-day-sat a {
    font-weight: bolder;
    color:#f1575b;
}

/* 달력 내 버튼 색상 */
.fc-header-toolbar > .fc-toolbar-chunk > button{
    padding:10px;
    font-size:16px;
    font-weight:600;
    margin-top:5px;
    border-radius:10px;
    background:#2c2c2c;
    color:#f5f5f5;
    cursor:pointer;
    border:none;
    outline:none;
}
.headerToolbar{
    background:#f1575b;
    color:#f5f5f5;
}
/* 오늘날짜 배경색 커스텀 */
/* 오늘 날짜의 배경색을 변경하는 CSS */
.fc .fc-day-today {
    background-color: rgba(241, 87, 91, 0.3) !important; /* #f1575b 색상에 50% 투명도 적용 */
}















/* ----------------------------------- Exchange Rate Component CSS ----------------------------------- */
/* cp:#272829, bg:#272829  */

.currency_box{
    display: inline-block;
}
.exRateCp{
    background-color: #2c2c2c;
    box-shadow: 5px 5px 5px 5px #222222;
    height: 160px;
    border-radius: 30px;
    padding: 20px;
    /*margin-right: 1%;*/
}
.excr_box{
    display: flex;
    text-align: center;
    align-items: stretch; /* 자식 요소들이 동일한 높이를 갖도록 설정 */
}
.excr_box > .slc_box > .flag.europe {
    /*background-image: url("../../../public/images/free-icon-european-union-330426.png");*/
    width: 30px;  /* 적절한 너비 설정 */
    height: 30px; /* 적절한 높이 설정 */
    display: inline-block;
    background-size: cover; /* 이미지를 요소 크기에 맞춤 */
}
.excr_box > .slc_box > .flag.krw {
    /*background-image: url("../../../public/images/free-icon-south-korea-330591.png");*/
    width: 30px;  /* 적절한 너비 설정 */
    height: 30px; /* 적절한 높이 설정 */
    display: inline-block;
    background-size: cover; /* 이미지를 요소 크기에 맞춤 */
}
.currencyTittle{
    color:#f5f5f5;
}
.codeNm{
    color:#f1575b;
    font-weight: bolder;
}
.slc_box{display: inline-block}
.num{
    display: inline-block;
}
._input{
    color:#f5f5f5;
    font-size: 20px;
    font-weight: bolder;
    background-color: #2D2E2F;
    width: 50%;
    border-radius:5px;
    text-align: right;
    outline: none;/* 포커싱시 파란 테두리 제거 */
}
.excr_eq{ font-weight: bolder; color:#f1575b; display: inline-block; }







/* ----------------------------------- save schedule Modal CSS ----------------------------------- */
.modal_head .date{
    color:#f5f5f5;
}
._textArea{
    outline: none;/* 포커싱시 파란 테두리 제거 */
    height:100px;
    color:lightsalmon;
    font-size: 20px;
    font-weight: bolder;
    background-color: #2D2E2F;
    border:none;
}
.modal_foot > .form-elements button {
    width:40%;
    padding:10px;
    font-size:16px;
    font-weight:600;
    margin-top:10%;
    border-radius:10px;
    background:#f1575b;
    color:#f5f5f5;
    cursor:pointer;
    border:none;
    outline:none;
    margin-left: 5%;
}
.modal_foot > .form-elements{
    text-align: center;
}







/* ----------------------------------- Google Map CSS ----------------------------------- */
.mapCp{
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */

    background-color: #2c2c2c;
    box-shadow: 5px 5px 5px 5px #222222;
    width: 500px;
    height: 870px;
    border-radius: 30px;
    margin-right: 1%;
}
.mapCp2{
    height: 100%;
}
.mapTittle {
    font-size: 30px;
    font-weight: bolder;
    color:#f5f5f5;
    margin-bottom: 20px; /* 제목과 지도 사이 여백 조정 */
    height: 5%;
    padding: 21px;
}
.mapList{
    margin-top: 3%;
}
.mapList_contents {
    border-collapse: collapse; /* 테이블 셀 경계를 병합하여 테이블의 경계선을 만듭니다. */
}

/* mapList 테이블 css */
.mapList_contents th,
.mapList_contents td {
    text-align: center;
    color: #f5f5f5;
}

/* mapList 테이블 > 엄청 얇은 구분선 스타일 */
.mapList_contents .splitLine {
    transform: scaleY(0.10);
}
